.mainContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.stackContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid 2px var(--text);
  padding: 20px;
  box-shadow: 5px 5px 5px var(--text);
  margin-top: 20px;
}

.stackTitle {
  width: 100%;
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--text);
  font-weight: 600;
  text-align: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.textContainer {
  display: flex;
  margin-top: 20px;
  padding: 20px;
}

.wrapper {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.aboutTitle {
  font-size: 30px;
  font-weight: 600;
}

.aboutTitle,
.intro {
  text-align: center;
}

.desc {
  line-height: 40px;
}

.boxes {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 40vw;
  justify-content: space-around;
  margin-left: -10px;
  font-size: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--textSoft);
  font-size: 30px;
}

.logo {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .mainContainer {
    padding: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }

  .container {
    margin-bottom: -50px;
  }

  .stackContainer {
    height: 50vh;
    width: 80%;
  }

  .desc {
    padding-bottom: 80px;
  }
  .boxes {
    width: 35vw;
    height: 80vh;
  }
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 20px;
    margin-top: 50px;
  }
  .boxes {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
  }
  .mainContainer{
    margin-top: 40px;
  }
  .textContainer {
    margin-top: -30px;
    padding-bottom: 0;
    margin-bottom: -20px;
  }
  .wrapper {
    font-size: 17px;
  }
  .desc {
    padding-bottom: 0;
  }
  .separator {
    margin-bottom: -10px;
  }
  .arrow {
    display: none;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-bottom: 70px;
  }
  .box {
    width: 30%;
    font-size: 13px;
  }
  .stackContainer {
    margin: 0;
    width: 100%;
  }
  .stackTitle {
    font-size: 30px;
  }
  .aboutTitle {
    font-size: 30px;
  }
}
@media (max-width: 640px) {
  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
  }
  .mainContainer{
    margin-top: 40px;
  }
  .textContainer {
    margin-top: -30px;
    padding-bottom: 0;
    margin-bottom: -20px;
  }
  .wrapper {
    font-size: 17px;
  }
  .desc {
    padding-bottom: 0;
  }
  .separator {
    margin-bottom: -10px;
  }
  .arrow {
    display: none;
  }
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-bottom: 70px;
  }
  .box {
    width: 30%;
    font-size: 13px;
  }
  .stackContainer {
    margin: 0;
    width: 100%;
  }
  .stackTitle {
    font-size: 30px;
  }
  .aboutTitle {
    font-size: 30px;
  }
}

@media (max-width: 426px) {
  .stackTitle {
    font-size: 24px;
  }
  .mainContainer {
  }

  .stackContainer {
    height: 500px;
    }

  .logo {
    width: 30;
    height: 30;
  }
  .aboutTitle {
    font-size: 24px;
  }
  .desc {
    font-size: 16px;
    line-height: 21px;
    gap: 5px 5px;
  }
  .boxDesc {
    display: none;
  }
  .separator {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .arrow {
    display: none;
  }
}


@media (max-width: 400px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 376px) {
  .mainContainer{
    margin-top: 15px;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .stackContainer{
    padding: 0;
  }

  .textContainer {
    padding: 0;

  }
  .stackTitle{
    font-size: 20px;
    padding-top: 5px;
  } .aboutTitle{
    font-size: 20px;
  }
  .intro, .desc {
    font-size: 12px;
  }
  .logo{
    width: 30;
    height: 30;
  }

  .boxes {
    margin-top: -30px;
  }
  .box h3{
    font-size: 12px;
  }
  .boxDesc{
    font-size: 9px;
    display: inline;
  }

  .arrow {
    display: none;
  }
}
