.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}


.desc {
    font-size: 18px;
    font-weight: 300;
}

.boxes {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h1 {
    color: var(--textSoft);
    font-size: 30px;
}

.stackContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}