.container {
    display: flex;
    gap: 100px;
}


.stackContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid 2px var(--text);
    padding: 20px;
    box-shadow: 5px 5px 5px var(--text);
    margin-top: 20px;
}

.stackTitle{
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--text);
    font-weight: 700;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.textContainer {
    display: flex;
    margin-top: 20px;
    padding: 20px;
}

.wrapper {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.aboutTitle{
    font-size: 30px;
    font-weight: 700;
}


.aboutTitle, .intro {
    text-align: center;
}



.boxes {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 40vw;
    justify-content: space-around;
    margin-left: -10px;
    font-size: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h1 {
    color: var(--textSoft);
    font-size: 30px;
}



.logo {
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}