/* styles.css */

@font-face {
    font-family: 'Ravie';
    src: url('/public/fonts/RAVIE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .logo {
    font-family: 'Ravie', sans-serif;
    font-size: 70px;
  }


  @media (min-width: 769px) and (max-width: 1023px) {
    .logo {
      font-size: 42px;
    }
  }  

  @media (max-width: 769px){
    .logo {
      font-size: 32px;
    }
  }  

  @media (max-width: 529px){
    .logo {
      font-size: 42px;
    }
  }  