.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 40px;
}



.card {
  border: 1px solid whitesmoke;
  display: flex;
  width: 100%;
  max-width: 1580px;
  height: 215px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.link {
  padding: 0px;
  margin: 0;
}

.title {
  padding-top: 15px;
}

.image {
  border-radius: 10px;
}

.desc {
    text-align: center;
}

.desc h3 {
  text-decoration: underline;
  font-weight: 900;
  font-size: 20px;
}

.stack {
  font-weight: 600;
}

.desc ul {
  margin: 10px;
}

.desc li {
  padding: 5px;
  list-style: none;
}

/* ----- smaller screens ----- */


@media (max-width: 1025px) {
  .card {
  }

  .desc {
    font-size: 14px;
  }

  .image {
    width: 280px;
    height: 213px;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 640px) {
  
}
@media (max-width: 475px) {
  
}