.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 40px;
}



.card {
  border: 1px solid whitesmoke;
  display: flex;
  width: 100%;
  height: 212px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.link {
  padding: 0px;
  margin: 0;
}

.title {
  padding-top: 15px;
}

.image {
  border-radius: 10px;
}

.desc {
    text-align: center;
}

.desc h3 {
  text-decoration: underline;
  font-weight: 900;
  font-size: 20px;
}

.stack {
  font-weight: 600;
}

.desc ul {
  margin: 10px;
}

.desc li {
  padding: 5px;
  list-style: none;
}

@media (min-width:1175px) and (max-width: 1360px) {
  .desc li {
    font-size: 14px;
  }
}

@media (min-width:1110px) and (max-width: 1175px) {
  .desc li {
    font-size: 13px;
  }
}

@media (min-width:930px) and (max-width: 1110px) {
  
  .desc li {
    font-size: 11px;
  }
}

@media (min-width:836px) and (max-width: 930px) {
    .image {
    width: 300px;
    height: 190px;
  }

  .desc {
    line-height: 14px;
  }

  .desc li {
    font-size: 13px;
  }


}

@media (min-width:770px) and (max-width: 836px) {
  .image {
  width: 270px;
  height: 170px;
}

.desc {
  line-height: 14px;
}

.desc li {
  font-size: 12px;
}


}

@media (min-width:570px) and (max-width: 770px) {
  .card {
    height: 80%;
    height: 330px;
    flex-wrap: wrap;
  }
  .image {
  width: 350px;
  height: 170px;
}

.desc {
  line-height: 12px;
}

.desc li {
  font-size: 12px;
}


}

@media (min-width:500px) and (max-width: 570px) {
  .card {
    height: 80%;
    height: 330px;
    flex-wrap: wrap;
  }
  .image {
  width: 350px;
  height: 170px;
}

.desc {
  line-height: 11px;
  margin-top: -10px;
}

.desc li {
  font-size: 12px;
}


}

@media (min-width:380px) and (max-width: 500px) {
  .card {
    height: 80%;
    height: 330px;
    flex-wrap: wrap;
  }
  .image {
  width: 250px;
  height: 170px;
}

.desc {
  padding: 5px;
}

.desc {margin-top: -25px;}

.desc li {
  font-size: 9px;
  line-height: 9px;

}


}

@media (max-width: 380px) {
  .card {
    height: 80%;
    height: 330px;
    flex-wrap: wrap;
  }
  .image {
  width: 200px;
  height: 160px;
}

.desc {
  margin-top: -15px;
}

.title{
  margin-top: -10px;
}

.desc li {
  font-size: 7px;
  line-height: 10px;

}


}

@media (max-width: 320px) {
  .card {
    height: 80%;
    height: 330px;
    flex-wrap: wrap;
  }
  .image {
  width: 160px;
  height: 140px;
}

.desc {
  margin-top: -15px;
}

.title{
  margin-top: -10px;
}

.desc li {
  font-size: 6px;
  line-height: 10px;

}


}