.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin-top: 30px;
}

.projects {
  display: flex;
  width: 80%;
  margin: auto;
}

.project {
  border: 1px solid whitesmoke;
  display: flex;
  width: 100%;
  height: 202px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.card {
  padding: 0px;
  margin: 0;
}

.image {
  border-radius: 10px;
}

.desc {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.desc h3 {
  text-decoration: underline;
  font-weight: 900;
  font-size: 20px;
}

.stack {
  font-weight: 600;
}

.desc ul {
  margin: 10px;
}

.desc li {
  padding: 5px;
  list-style: none;
}