.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

/*MEDIA QUERIES*/



@media (max-width: 431px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 400px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
}