.container {
    height: 70px;
    color: gray;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.copyright {
    font-size: 12px; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedinIcon, .githubIcon {
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        padding-top: 20px;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
   }
}