.container {
    height: 100px;
    color: gray;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.created {
    font-size: 12px;
    flex: 1;
}

.copyright {
    font-size: 12px; 
}

.icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;

}

.linkedinIcon, .githubIcon {
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}