.container {
    height: 50px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.copyright {
    font-size: 12px; 
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.linkedinIcon, .githubIcon {
    font-size: 16px;

}

@media (max-width: 300px) {
    .copyright {
        font-size: 8px; 
    }
    .linkedinIcon, .githubIcon {
        font-size: 12px;
    
    }
}
