.container {
 width: 100px;
 padding: 10px;
 border-radius: 20px;
 font-weight: 500;
 text-align: center;   
}

.container:hover {
    opacity: 0.7;
}

.active {
    background-color: var(--text);
    color: var(--bg);
}

@media (min-width: 530px) and (max-width: 690px) {

    .active {
        background-color: var(--text);
        color: var(--bg);
    }
    .container {
        width: 65px;
    }
}

@media (max-width: 530px) {

    .active {
        background-color: var(--text);
        color: var(--bg);
    }

    .container {
        width: 100%;
    border-radius: 5px;
    }
}

